In [1]:
name = "Hong gil dong"
print(type(name))
print(name)

<class 'str'>
Hong gil dong

In [2]:
a = 7
b = 5
print(type(a))
print(a+b)

<class 'int'>
12

In [3]:
a=7
b=5
print("a+b")

a+b

In [4]:
data=0
_a12=2
g_g = 2

In [5]:
_gg = 3
a123=10
123a=20

SyntaxError: invalid syntax (<ipython-input-5-4163a8cd4d6b>, line 3)

In [6]:
for = 1

SyntaxError: invalid syntax (<ipython-input-6-b26be1b49601>, line 1)

In [10]:
abc=3
Abc=4
print(abc, Abc)

3 4

In [11]:
data1 = "abc"
data2 = 'abc'
print(data1, data2)
print(type(data1))
print(type(data2))

abc abc
<class 'str'>
<class 'str'>

In [14]:
flag = True
print(flag)
flag = False
print(flag)
print(type(flag))

True
False
<class 'bool'>

In [15]:
a=1
print(type(a))
a=1.1
print(type(a))
a="hello"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [16]:
a=1
b=1
print(a,b)

1 1

In [17]:
a=1.5
b=3.5
print(a, b)

1.5 3.5

In [18]:
a="ABC"
b="101010"
print(a, b)

ABC 101010

In [19]:
a = True
b = False
print(a, b)

True False

In [20]:
print( 3*3*3*3*3 )

243

In [21]:
print( 3**5 )

243

In [22]:
print( 17/3 )

5.666666666666667

In [23]:
print( 17//3 )

5

In [24]:
print( 17%3 )

2

In [28]:
a=1
++a   # a = a+1
# a++
print(a)

1

In [33]:
a=1
# a = a+1
a += 1
print(a)

2

In [34]:
a=10
print(type(a),a )

<class 'int'> 10

In [40]:
a = 10.
# a = float(10)
print(type(a),a )

<class 'float'> 10.0

In [41]:
b = 3
a = 10
print(type(a/b))

<class 'float'>

In [42]:
a = 10.7
b = 10.3
a = int(a)
b = int(b)
print(a+b)

20

In [43]:
a = "76.3"
b = float(a)   # atof(a)
print(b)

76.3

In [44]:
print(float(a)+b)

152.6

In [45]:
a = float(a)
b = a
print(a+b)

152.6

In [46]:
a = str(a)  # "76.3"
b = str(b)  # "76.3"
print(a+b)  # 문자열 끼리 더하기 하면 두문자열이 하나의 문자열로 연결된다.

76.376.3

In [47]:
a = int(10.3)
b = float(10)
c = str(10.3)  # "10.3"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [48]:
print("이름 입력:")
somebody = input() #   scanf("%s", &somebody);
print(somebody)

이름 입력:
홍길동
홍길동

In [49]:
print("hello","world")

hello world

In [50]:
print("온도 입력:")
temperature = input()
print(type(temperature))

온도 입력:
24.3
<class 'str'>

In [51]:
temperature = float(input("온도 입력:"))
print(type(temperature))

온도 입력:24.3
<class 'float'>

In [57]:
print(1,2,3)
print("a"+" "+"b"+" "+"c")
print("a","b","c")
print("%d %d %d"%(1,2,3))  # printf("%d %d %d\n",1,2,3);
print("{} {} {}".format("a","b","c"))
print("{} {} {}".format(1,2,3))

1 2 3
a b c
a b c
1 2 3
a b c
1 2 3

In [64]:
print('%s %s'%("one", 'two'))   # c언어인 경우 "" 문자열 , '' 문자
print('{} {}'.format("one", 'two'))
print('%d %d'%(1, 2))
print('{} {}'.format(1, 2))

one two
one two
1 2
1 2

In [65]:
print("%d"%3)
print("%s"%"five")
print("%f"%3.14)

3
five
3.140000

In [68]:
print("[%d]"%123)
print("[%6d]"%123)
print("[%-6d]"%123)

[123]
[   123]
[123   ]

In [75]:
print("[%f]"%3.14)
print("[%10f]"%3.14)
print("[%-10f]"%3.14)
print("[%.2f]"%3.147)
print("[%10.2f]"%3.14)
print("[%-10.2f]"%3.14)

[3.140000]
[  3.140000]
[3.140000  ]
[3.15]
[      3.14]
[3.14      ]

In [79]:
age = 36
print("{}".format(36))
print("{0}".format(36))
print("{1} {0}".format(36, "Hong"))
print("{0} {1:.3f}".format("Hong", 3.14))

36
36
Hong 36
Hong 3.140

In [80]:
colors = ['red', 'green', 'blue']
print(type(colors))
print(type(colors[0]))
print(len(colors))

<class 'list'>
<class 'str'>
3

In [89]:
a = [10,20,30,40,50,60,70]
print(a)
print(a[1])
print(a[1:2])
print(a[6])
print(a[-1])
print(a[0:-1])
print(a[:])
print(a[::-1])
print(a[::2])

[10, 20, 30, 40, 50, 60, 70]
20
[20]
70
70
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]
[10, 30, 50, 70]

In [90]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [91]:
color = ['red', 'green', 'blue']
color[0] = 'yellow'
print(color*2)

['yellow', 'green', 'blue', 'yellow', 'green', 'blue']

In [94]:
print(  'blue1' in color )

False

In [95]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [96]:
"-"*50

'--------------------------------------------------'

In [99]:
color = ['red', 'green', 'blue']
color.append("white")
# color.append(["black", 'purple'])
color.extend(["black", 'purple'])
print(color)

['red', 'green', 'blue', 'white', 'black', 'purple']

In [100]:
color = ['red', 'green', 'blue']
color.append(["black", 'purple'])
print(color)

['red', 'green', 'blue', ['black', 'purple']]

In [101]:
color = ['red', 'green', 'blue']
color.insert(1, "orange")
print(color)

['red', 'orange', 'green', 'blue']

In [102]:
color = ['red', 'green', 'blue']
print(color)
del color[0]
print(color)

['red', 'green', 'blue']
['green', 'blue']

In [103]:
a = ['color', 1, 0.2]
print(type(a[0]))
print(type(a[1]))
print(type(a[2]))
b = ['red', 'green', 'blue']
a[0] = b
print(a)

<class 'str'>
<class 'int'>
<class 'float'>
[['red', 'green', 'blue'], 1, 0.2]

In [107]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a
print(b)
b[0] = 100
print(a)
print(b)
print(id(a), id(a))

[5, 4, 3, 2, 1]
[100, 4, 3, 2, 1]
[100, 4, 3, 2, 1]
1693772860928 1693772860928

In [109]:
t = [1,2,3]
a, b, c = t
print(a, b, c)
f = t
print(f)

1 2 3
[1, 2, 3]

In [110]:
def foo() :
    return 1, 2, 3

a,b,c = foo()
print(a,b,c)

1 2 3

In [111]:
def foo() :
    return 1, 2, 3

ret = foo()
print(ret)

(1, 2, 3)

In [112]:
a = 1,2,3
print(a)

(1, 2, 3)

In [ ]:
def foo() :
    return 1, 2, 3  # 1,2,3 => (1,2,3)

a,b,c = foo()  # a,b,c = (1,2,3)
print(a,b,c)

In [115]:
myage = int(input("몇살?"))
if myage < 30:
    print("클럽 입장 가능")
else :
    print("클럽 출입 금지")

몇살?31
클럽 출입 금지

In [118]:
a = 5
b = 5
if a!=b :
    print("참")
else:
    print('거짓')

거짓

In [120]:
a = 5
b = 5
print(hex(id(a)))
print(hex(id(b)))
if a is b :
    print("참")

0x7ffb647927b0
0x7ffb647927b0
참

In [121]:
a=3
b=4
print(a==1 and b==4)  #  a==1 && b==4
print(a==1 or b==4)   #  a==1 || b==4

False
True

In [126]:
if 0:
    print("참")
else :
    print("거짓")

거짓

In [129]:
score=99
if score >= 90:
    grade = 'A'
    print(grade)
if score >= 80:
    grade = 'B'
    print(grade)
if score >= 70:
    grade = 'C'
    print(grade)
if score >= 60:
    grade = 'D'
    print(grade)
if score < 60:
    grade = 'F'
    print(grade)

A
B
C
D

In [131]:
score=99
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
    print(grade)
    
print(grade)

A

In [132]:
int a[] = {1,2,3,4,5};
int i;
for( i=0; i<5; i++)
{
    printf("%d\n", a[i]);
}

SyntaxError: invalid syntax (<ipython-input-132-bc6d109de01c>, line 1)

In [135]:
a = [1,2,3,4,5];
for i in range(len(a)):
    print(a[i], end=" ")

1 2 3 4 5

In [137]:
a = [1,2,3,4,5];
for data in a:
    print(data, end=" ")

1 2 3 4 5

In [138]:
for ch in "hello":
    print(ch)

h
e
l
l
o

In [139]:
for s in ['Americano','latte','frafuchino']:
    print(s)

Americano
latte
frafuchino

In [140]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [141]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
int i; 
for(i=0; i<5; i++)
    printf("%d\n", i);

In [ ]:
int i;
i=0
while(i<5)
{
    printf("%d\n", i);
    i++;
}

In [142]:
i=0
while i<5:
    print("%d"%i)
    i+=1

0
1
2
3
4

In [143]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a :
    print(i, end=' ')
    if i == 7:
        break

1 2 3 4 5 6 7

In [144]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a :
    if i== 7:
        continue
    print(i, end=' ')

1 2 3 4 5 6 8 9 10

In [145]:
for i in range(10):
    print(i, end=' ')
else:
    print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [146]:
for i in range(10):
    print(i, end=' ')

print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [147]:
for i in range(10):
    print(i, end=' ')
    if i==7:
        break

print("EOP")

0 1 2 3 4 5 6 7 EOP

In [148]:
for i in range(10):
    print(i, end=' ')
    if i==7:
        break
else:
    print("EOP")

0 1 2 3 4 5 6 7

In [ ]:
int a[] = {1,2,3,4,5,6,7,8,9,10};
int num = 7;
int i;

for(i=0; i<10; i++)
{
    printf("%d\", a[i]);
    if( i==7 )
        break;
}

if( i==10 )
    print("7은 찾을 수 없습니다.")
else 
    printf("7을 찾았습니다. ")

In [ ]:
void foo()
{
    printf("foo()\n");
}

foo()

In [149]:
def foo(a):
    print("foo(%d)"%a)
    return 10, 20

a, b = foo(1)
print(a,b)

foo(1)
10 20

In [151]:
def foo(a):
    a = a+1
    print(a)
    
a = 10    
foo(a)
print(a)

11
10

In [152]:
def foo(a):
    a[0] = 10
    
a = [1,2,3]    
foo(a)
print(a)

[10, 2, 3]

In [153]:
def foo(a):
    for i in range(len(a)):
        a[i] *= 10
    
a = [1,2,3]    
foo(a)
print(a)

[10, 20, 30]

In [155]:
def f():
    s ="I love London!"
    print(s)
    
s = "I love Paris!"
f()
print(s)

I love London!
I love Paris!

In [156]:
def f():
    global s
    s ="I love London!"
    print(s)
    
s = "I love Paris!"
f()
print(s)

I love London!
I love London!

In [158]:
def foo(a, b):
    print(a,b)
    
foo(1,2)

1 2

In [159]:
def foo(a, b):
    print(a,b)
    
foo(b=1,a=2)

2 1

In [161]:
def foo(a, b=10):
    print(a,b)
    
foo(1)

1 10

In [166]:
def vsum(*args):
    print(args)
    sum=0
    for i in args:
        sum += i
    return sum

ret = vsum(1,2,3,4,5)
print(ret)

(1, 2, 3, 4, 5)
15

In [173]:
def foo( **args):
#     print(args)
    sum = 0
    for key, value in args.items():
        print(key)
        sum += value
    return sum

ret = foo(a=1,b=2, c=3)
print(ret)

a
b
c
6

In [3]:
import sys
print(sys.getsizeof("a"))
print(sys.getsizeof("ab"))
print(sys.getsizeof("abc"))

50
51
52

In [4]:
a ="abcde"
print(a[0],a[4])

a e

In [5]:
a ="abcde"
print(a[-1],a[-5])

e a

In [7]:
a = "Hello Python!!"

print(a[0:6]," AND ",a[-9:])
print(a[:])
print(a[-50:50])
print(a[::2]," AND ",a[::-1])

Hello   AND   Python!!
Hello Python!!
Hello Python!!
HloPto!  AND  !!nohtyP olleH

In [8]:
a = "Hello"
b = "World"
print(a + " " + b)
print(a*2 + " " + b*2)

if 'A' in a:
    print(a)
else:
    print(b)

Hello World
HelloHello WorldWorld
World

In [9]:
print("="*20)

====================

In [22]:
a = "   hello world   "
print(len(a))
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.title())
print(a.count('l'))
print("[%s]"%a.strip())
print(a.split())

17
   HELLO WORLD
   hello world
   hello world
   Hello World
3
[hello world]
['hello', 'world']

In [26]:
print('hello')   
print("'hello'")        # 'hello'
print('\'hello\'')        # 'hello'

hello
'hello'
'hello'

In [27]:
print('"hello"')        # "hello"
print("\"hello\"")

"hello"
"hello"

In [29]:
print("\\")    # "\"

\

In [37]:
print("hello\n\n\n")
print("\t\t\tworld")

hello



			world

In [41]:
a = [1,2,3,4,5]
a[0] = 10
print(a)

[10, 2, 3, 4, 5]

In [39]:
a = (1,2,3,4,5)
a[0] = 10
print(a)

TypeError: 'tuple' object does not support item assignment

In [40]:
a = "hello"
a[0] = 'a'

TypeError: 'str' object does not support item assignment

In [38]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

In [46]:
t = (1,)
print(type(t))

<class 'tuple'>

In [50]:
s = {1,1,2,2,3,3,4,4,5,5}
print(s)
print(type(s))
print(len(s))
s[0] = 10

{1, 2, 3, 4, 5}
<class 'set'>
5

TypeError: 'set' object does not support item assignment

In [51]:
s = [1,1,2,2,3,3,4,4,5,5]
print(s)
print(type(s))

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
<class 'list'>

In [52]:
s1 =set([1,2,3,4,5])
s2 =set([3,4,5,6,7])

print(s1.union(s2))
print(s1 | s2)
print(s1.intersection(s2))
print(s1 & s2)
print(s1.difference(s2))
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

In [53]:
a = {1,2,3}
print(type(a))

<class 'set'>

In [55]:
a = {}
print(type(a))

<class 'dict'>

In [57]:
a = {'a':1,'b':2,'c':3}
print(a)
print(type(a))
a['e']=20
print(a)
a['a']=20
print(a)

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
{'a': 1, 'b': 2, 'c': 3, 'e': 20}
{'a': 20, 'b': 2, 'c': 3, 'e': 20}

In [58]:
a['a']

20

In [59]:
country_code={}
country_code={"America":1,"Korea":82,"China":86,"Japan":81}
print(country_code)

print(country_code.items())
print(country_code.keys())

country_code["Gernman"]=49
print(country_code)
print(country_code.values())

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])
dict_keys(['America', 'Korea', 'China', 'Japan'])
{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'Gernman': 49}
dict_values([1, 82, 86, 81, 49])

In [60]:
for k,v in country_code.items():
    print("Key : ",k)
    print("Value : ",v)

Key :  America
Value :  1
Key :  Korea
Value :  82
Key :  China
Value :  86
Key :  Japan
Value :  81
Key :  Gernman
Value :  49

In [61]:
"Korea" in country_code.keys()

True

In [63]:
result = []
for i in range(10):
    result.append(i)
    print(result)

result

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
result = [i+10 for i in range(10)]
result

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [67]:
result = []
for i in range(10):
    if i%2==0:
        result.append(i)
result

[0, 2, 4, 6, 8]

In [68]:
result = [i for i in range(10) if i%2==0 ]
result

[0, 2, 4, 6, 8]

In [69]:
result = []
word_1 ="Hello"
word_2 ="World"
for i in word_1:
    for j in word_2:
        result.append(i+j)
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [70]:
word_1 ="Hello"
word_2 ="World"
result =[i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [72]:
case_1 =["A","B","C"]
case_2 =["D","E","A"]
result =[i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [73]:
result = [i+j for i in case_1 for j in case_2 if not (i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [74]:
for v in (['tic','tac','toe']):
    print(v)

tic
tac
toe

In [75]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [76]:
mylist=["a","b","c","d"]
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [78]:
vocab = {i:j for i,j in enumerate('Elements are counted from an iterable'.split())}

In [81]:
vocab[2]

'counted'

In [82]:
def f(x, y):
    return x + y
print(f(1,4))

5

In [83]:
f=lambda x, y : x+y
print(f(1, 4))

5

In [85]:
ex=[1,2,3,4,5]
f=lambda x : x**2
print(list(map(f, ex)))

[1, 4, 9, 16, 25]

In [86]:
ex=[1,2,3,4,5]
print(list(map(lambda x : x**2, ex)))

[1, 4, 9, 16, 25]

In [88]:
print(list(map(lambda x, y : x+y, ex, ex)))

[2, 4, 6, 8, 10]