In [4]:
name = "Hong gil dong"
print(type(name))
print(name)

<class 'str'>
Hong gil dong

In [6]:
a = 7
b = 5
print(type(a))
print(a+b)

<class 'int'>
12

In [7]:
a=7
b=5
print("a+b")

a+b

In [11]:
data=0
_a12=2
g_g = 2

In [16]:
_gg = 3
a123=10
123a=20

SyntaxError: invalid syntax (<ipython-input-16-4163a8cd4d6b>, line 3)

In [17]:
for = 1

SyntaxError: invalid syntax (<ipython-input-17-b26be1b49601>, line 1)

In [18]:
abc=3
Abc=4
print(abc, Abc)

3 4

In [21]:
data1 = "abc"
data2 = 'abc'
print(data1, data2)
print(type(data1))
print(type(data2))

abc abc
<class 'str'>
<class 'str'>

In [26]:
flag = True
flag = False

In [29]:
a=1
a=1.1
a="hello"
print(type(a))

<class 'str'>

In [30]:
a=1
b=1
print(a,b)

1 1

In [31]:
a=1.5
b=3.5
print(a, b)

1.5 3.5

In [33]:
a="ABC"
b="101010"
print(a, b)

ABC 101010

In [35]:
a = True
b = False
print(a, b)

True False

In [36]:
print( 3*3*3*3*3 )

243

In [37]:
print( 3**5 )

243

In [39]:
print( 17/3 )

5.666666666666667

In [40]:
print( 17//3 )

5

In [41]:
print( 17%3 )

2

In [42]:
a=1
++a   # a = a+1
print(a)

1

In [44]:
a=1
# a = a+1
a += 1
print(a)

2

In [47]:
a=10
print(type(a),a )

<class 'int'> 10

In [50]:
# a = 10.
a = float(10)
print(type(a),a )

<class 'float'> 10.0

In [52]:
b = 3
a = 10
print(type(a/b))

<class 'float'>

In [53]:
a = 10.7
b = 10.3
a = int(a)
b = int(b)
print(a+b)

20

In [54]:
a = "76.3"
b = float(a)   # atof(a)
print(b)

76.3

In [56]:
print(float(a)+b)

152.6

In [57]:
a = float(a)
b = a
print(a+b)

152.6

In [58]:
a = str(a)  # "76.3"
b = str(b)  # "76.3"
print(a+b)

76.376.3

In [61]:
a = int(10.3)
b = float(10)
c = str(10.3)  # "10.3"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [63]:
print("이름 입력:")
somebody = input() #   scanf("%s", &somebody);
print(somebody)

이름 입력:
강감찬
강감찬

In [67]:
print("hello","world")

hello world

In [69]:
print("온도 입력:")
temperature = input()
print(type(temperature))

온도 입력:
23.4
<class 'str'>

In [71]:
temperature = float(input("온도 입력:"))
print(type(temperature))

온도 입력:23.4
<class 'float'>

In [78]:
print(1,2,3)
print("a"+" "+"b"+" "+"c")
print("a","b","c")
print("%d %d %d"%(1,2,3))
print("{} {} {}".format("a","b","c"))
print("{} {} {}".format(1,2,3))

1 2 3
a b c
a b c
1 2 3
a b c
1 2 3

In [84]:
print('%s %s'%("one", 'two'))
print('{} {}'.format("one", 'two'))
print('%d %d'%(1, 2))
print('{} {}'.format(1, 2))

one two
one two
1 2
1 2

In [88]:
print("%d"%3)
print("%s"%"five")
print("%f"%3.14)

3
five
3.140000

In [93]:
print("[%d]"%123)
print("[%6d]"%123)
print("[%-6d]"%123)

[123]
[   123]
[123   ]

In [99]:
print("[%f]"%3.14)
print("[%10f]"%3.14)
print("[%-10f]"%3.14)
print("[%.2f]"%3.14)
print("[%10.2f]"%3.14)
print("[%-10.2f]"%3.14)

[3.140000]
[  3.140000]
[3.140000  ]
[3.14]
[      3.14]
[3.14      ]

In [106]:
age = 36
print("{}".format(36))
print("{0}".format(36))
print("{1} {0}".format(36, "Hong"))
print("{0} {1:.3f}".format("Hong", 3.14))

36
36
Hong 36
Hong 3.140

In [110]:
colors = ['red', 'green', 'blue']
print(type(colors))
print(type(colors[0]))
print(len(colors))

<class 'list'>
<class 'str'>
3

In [120]:
a = [10,20,30,40,50,60,70]
print(a)
print(a[1])
print(a[1:2])
print(a[6])
print(a[-1])
print(a[0:-1])
print(a[:])
print(a[::-1])
print(a[::2])

[10, 20, 30, 40, 50, 60, 70]
20
[20]
70
70
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]
[10, 30, 50, 70]

In [121]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [124]:
color = ['red', 'green', 'blue']
color[0] = 'yellow'
print(color*2)

['yellow', 'green', 'blue', 'yellow', 'green', 'blue']

In [126]:
print(  'blue1' in color )

False

In [129]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [131]:
color = ['red', 'green', 'blue']
color.append("white")
color.extend(["black", 'purple'])
print(color)

['red', 'green', 'blue', 'white', 'black', 'purple']

In [132]:
color = ['red', 'green', 'blue']
color.append(["black", 'purple'])
print(color)

['red', 'green', 'blue', ['black', 'purple']]

In [134]:
color = ['red', 'green', 'blue']
color.insert(1, "orange")
print(color)

['red', 'orange', 'green', 'blue']

In [138]:
color = ['red', 'green', 'blue']
print(color)
del color[0]
print(color)

['red', 'green', 'blue']
['green', 'blue']

In [144]:
a = ['color', 1, 0.2]
print(type(a[0]))
print(type(a[1]))
print(type(a[2]))
b = ['red', 'green', 'blue']
a[0] = b
print(a)

<class 'str'>
<class 'int'>
<class 'float'>
[['red', 'green', 'blue'], 1, 0.2]

In [147]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a
print(b)
b[0] = 100
print(a)
print(b)

[5, 4, 3, 2, 1]
[100, 4, 3, 2, 1]
[100, 4, 3, 2, 1]

In [149]:
t = [1,2,3]
a, b, c = t
print(a, b, c)

1 2 3

In [150]:
def foo() :
    return 1, 2, 3

ret = foo()
print(ret)

(1, 2, 3)

In [151]:
a = 1,2,3
print(a)

(1, 2, 3)

In [152]:
def foo() :
    return 1, 2, 3  # 1,2,3 => (1,2,3)

a,b,c = foo()  # a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [155]:
myage = int(input("몇살?"))
if myage < 30:
    print("클럽 입장 가능")

몇살?29
클럽 입장 가능

In [156]:
a = 5
b = 5
if a==b :
    print("참")

참

In [159]:
a = 5
b = 5
print(hex(id(a)))
print(hex(id(b)))
if a is b :
    print("참")

0x7ff83f5927a0
0x7ff83f5927a0
참

In [164]:
a=3
b=4
print(a==1 and b==4)
print(a==1 or b==4)

False
True

In [165]:
score=99
if score >= 90:
    grade = 'A'
if score >= 80:
    grade = 'B'
if score >= 70:
    grade = 'C'
if score >= 60:
    grade = 'D'
if score < 60:
    grade = 'F'
    
print(grade)

D

In [173]:
score=78
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
    print(grade)
    
print(grade)

C

In [ ]:
int a[] = {1,2,3,4,5};
int i;
for( i=0; i<5; i++)
{
    printf("%d\n", a[i]);
}

In [174]:
a = [1,2,3,4,5];
for data in a:
    print(data)

1
2
3
4
5

In [175]:
a = [1,2,3,4,5];
for i in range(len(a)):
    print(a[i])

1
2
3
4
5

In [176]:
for ch in "hello":
    print(ch)

h
e
l
l
o

In [177]:
for s in ['Americano','latte','frafuchino']:
    print(s)

Americano
latte
frafuchino

In [178]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [179]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [180]:
int i=0; 
for(i=0; i<5; i++)
    printf("%d\n", i);

SyntaxError: invalid syntax (<ipython-input-180-a7a1673c2a2e>, line 1)

In [ ]:
int i;
i=0
while(i<5)
{
    printf("%d\n", i);
    i++;
}

In [182]:
i=0
while i<5:
    print("%d"%i)
    i+=1

0
1
2
3
4

In [185]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a :
    print(i, end=' ')
    if i== 7:
        break

1 2 3 4 5 6 7

In [186]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a :
    if i== 7:
        continue
    print(i, end=' ')

1 2 3 4 5 6 8 9 10

In [189]:
for i in range(10):
    print(i, end=' ')
else:
    print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [190]:
for i in range(10):
    print(i, end=' ')

print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [191]:
for i in range(10):
    print(i, end=' ')
    if i==7:
        break;
else:
    print("EOP")

0 1 2 3 4 5 6 7

In [ ]:
int a[] = {1,2,3,4,5,6,7,8,9,10};
int num = 7;
int i;

for(i=0; i<10; i++)
{
    printf("%d\", a[i]);
    if( i==7 )
        break;
}

if( i==10 )
    print("7은 찾을 수 없습니다.")
else 
    printf("7을 찾았습니다. ")

In [192]:
void foo()
{
    printf("foo()\n");
}

foo()

SyntaxError: invalid syntax (<ipython-input-192-021c24ea65a4>, line 1)

In [199]:
def foo(a):
    print("foo(%d)"%a)
    return 10, 20

a, b = foo(1)
print(a,b)

foo(1)
10 20

In [200]:
def foo(a):
    a = a+1
    
a = 10    
foo(a)
print(a)

10

In [201]:
def foo(a):
    a[0] = 10
    
a = [1,2,3]    
foo(a)
print(a)

[10, 2, 3]

In [202]:
def foo(a):
    for i in range(len(a)):
        a[i] *= 10
    
a = [1,2,3]    
foo(a)
print(a)

[10, 20, 30]

In [203]:
def f():
    s ="I love London!"
    print(s)
    
s = "I love Paris!"
f()
print(s)

I love London!
I love Paris!

In [204]:
def f():
    global s
    s ="I love London!"
    print(s)
    
s = "I love Paris!"
f()
print(s)

I love London!
I love London!

In [205]:
def foo(a, b):
    print(a,b)
    
foo(1,2)

1 2

In [206]:
def foo(a, b):
    print(a,b)
    
foo(b=1,a=2)

2 1

In [208]:
def foo(a, b=10):
    print(a,b)
    
foo(1,2)

1 2

In [211]:
def vsum( count, *args):
    sum=0
    for i in range(count):
        sum += args[i]
    return sum

ret = vsum(3,1,2,3)
print(ret)

6

In [214]:
def foo( count, **args):
    print(count, args)

ret = foo(3,a=1,b=2)
print(ret)

3 {'a': 1, 'b': 2}
None

In [217]:
print("="*20)

====================

In [229]:
a = "  hello world   "
print(len(a))
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.title())
print(a.count('l'))
print("[%s]"%a.strip())
print(a.split())

16
  HELLO WORLD
  hello world
  hello world
  Hello World
3
[hello world]
['hello', 'world']

In [233]:
print("'hello'")        # 'hello'
print('\'hello\'')        # 'hello'

'hello'
'hello'

In [236]:
print('"hello"')        # "hello"
print("\"hello\"")

"hello"
"hello"

In [238]:
print("\\")    # "\"

\

In [241]:
print("hello\n")
print("\tworld")

hello

	world

In [242]:
a = [1,2,3,4,5]
a[0] = 10
print(a)

[10, 2, 3, 4, 5]

In [243]:
a = (1,2,3,4,5)
a[0] = 10
print(a)

TypeError: 'tuple' object does not support item assignment

In [244]:
a = "hello"
a[0] = 'a'

TypeError: 'str' object does not support item assignment

In [245]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

In [249]:
t = (1,)
print(type(t))

<class 'tuple'>

In [258]:
s = {1,1,2,2,3,3,4,4,5,5}
print(s)
print(type(s))
print(len(s))
s[0] = 10

{1, 2, 3, 4, 5}
<class 'set'>
5

TypeError: 'set' object does not support item assignment

In [256]:
s = [1,1,2,2,3,3,4,4,5,5]
print(s)
print(type(s))

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
<class 'list'>

In [259]:
s1 =set([1,2,3,4,5])
s2 =set([3,4,5,6,7])

print(s1.union(s2))
print(s1 | s2)
print(s1.intersection(s2))
print(s1 & s2)
print(s1.difference(s2))
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

In [260]:
a = {1,2,3}
print(type(a))

<class 'set'>

In [264]:
a = {'a':1,'b':2,'c':3}
print(type(a))
a['e']=20

a['a']=20
print(a)

<class 'dict'>
{'a': 20, 'b': 2, 'c': 3, 'e': 20}

In [262]:
a['a']

1

In [265]:
a = [0,1,2,3,4,5,6,7,8,9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [266]:
a = []
for i in range(10):
    a.append(i)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [271]:
result =[i for i in range(10) if i%2!=0 ]
result

[1, 3, 5, 7, 9]